.icon {
    &-trash {
        stroke: $color;
    }

    &-user {
        stroke: $color;
    }

    &-settings {
        fill: $color;
    }

    &-search {
        fill: $color;
    }

    &-edit {
        stroke: $color;
    }
}
