:root {
    --color: #000;
    --color2: #fff;
    --transition-duration: 0.25s;
}

body {
    font-family: $font;
    color: $color;
}

@include scrollBar('body');
.page {
    background: $color2;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
        // "footer footer"

    padding-bottom: 20px;
}

.main {
    grid-area: main;
}
