.rows {
    &__top {
        display: flex;
        justify-content: space-between;
        &-btns {
            display: flex;
            >* {
                height: 100%;
                margin-right: 15px;
                padding: 0 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-search {
            width: 100%;
            margin-right: 15px;
        }
    }

    &__bottom {

    }
}
